.Github {
  pad: 10rem;
  height: 4rem;
  width: 4rem;
  display: inline-flex;
  margin: .5rem;
  border-style: none;
  border-radius: 50%;
  padding: .1rem;
  background-color: #fff;
  cursor: pointer;
}

.Github:hover {
  outline: .07rem solid black;
  box-shadow: 0rem 0rem 1rem white;
}