.Initials {
    font-family: "Cedarville Cursive", cursive;
    font-size: 200%;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: .01rem;
    padding: .5rem;

  }
