.Languages-title {
    color: #fff;
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
}

.Languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 7rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}