// .Navigation {
//   display: flex;
//   flex-direction: row;
//   width: 100vh;
//   margin-top: 0%;
//   padding-top: 0%;
//   justify-content: space-evenly;
//   margin-left: 0%;
// }

.Navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Navigation a {
  padding: .4rem;
  font-weight: 700;
  color: #fff;
  // background-color: #191E21;
  border: none;
  justify-content: center;
}

.Navigation a:hover {
  border-style: double;
  border-color: antiquewhite;
}