// .Navigation {
//   display: flex;
//   flex-direction: row;
//   width: 100vh;
//   margin-top: 0%;
//   padding-top: 0%;
//   justify-content: space-evenly;
//   margin-left: 0%;
// }

.Navigation {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.Navigation a {
  border-radius: 20%;
  font-weight: 700;
  color: #fff;
  justify-content: center;
}

.Navigation a:hover {
  color: red;
}
