.ProfilePicture-container {
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
}

.ProfilePicture {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border-color: #000;
  border-style: solid;
}
