.ProfilePicture-container {
  display: flex;
  justify-content: space-around;
}

.ProfilePicture {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  border-color: antiquewhite;
  border-style: solid;
}
