.ProjectCard {
    width: 15rem;
    height: 23rem;
    border: .1rem solid white;
    background-color: #191E21;
    flex-shrink: 1;
}

.ProjectCard img {
    width: 15rem;
    height: 15rem;
}

.ProjectCard:hover {
    box-shadow: 0rem 0rem 1rem white;
}

