.RecentProjects-header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: #fff;
    margin-bottom: 3rem;
}

.RecentProjects-Container {
    display: flex;
    justify-content: space-between;
    flex-shrink: 1;
    flex-wrap: wrap;
}
