.Technology-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

.Technology-title {
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.Technology {
    display: flex;
    width: 80vw;
    flex-wrap: none;
    justify-content: space-around;
    font-size: 6rem;
    margin-left: 4rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

// .Technology i {
//     min-width: none;
//     flex-shrink: 25;
// }